

.logo {
  display: flex;
  width: 219.537px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 12.92px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}